.tabs .tabs-list {
  display: flex;
  gap: 0;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 12px 20px;
  background-color: var(--light-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button[aria-selected='true'] {
  background-color: var(--text-color);
  color: #fff;
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: 0;
  padding: 24px 0;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
